<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DynaShopper</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <nav>
      <div class="container">
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <% if(currentUser){ %>
            <li><a href="/">Signed in as: <%= currentUser.username %></a></li>
            <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  
