<%- include("./partials/header"); %>

<h1>Dyna Shopper</h1>

<form action="/?_method=PUT" method="POST">
  <input type="text" name="item" id="item" placeholder="Enter a new item">
  <input type="submit" value="Submit">
</form>

<% list.forEach((list) => { %>
  <h3><%= list.name %></h3>
  <ul>
  <% list.items.forEach((item) => { %>
    <li><%=item%></li>
  <% }); %>
  </ul> 
<% }); %>

<%- include("./partials/footer"); %>